@font-face {
    font-family: "Kakaosmall";
    src: url("./KakaoSmallOTF.otf") format("opentype");
}
@font-face {
    font-family: "Kakaosmalllight";
    src: url("./KakaoSmallOTFLight.otf") format("opentype");
}
@font-face {
    font-family: "Kakaosmallbold";
    src: url("./KakaoSmall\ OTF\ Bold.otf") format("opentype");
}

* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: #141312;
    background-color: rgba(20, 19, 18, 1);
    font-family: "Kakaosmalllight";
    color: white;
    text-align: center;
    overflow-x: hidden;
}

canvas {
    width: 100%;
}

/* HEADER */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #141312;
    background-color: rgba(20, 19, 18, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

#header-mobile {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #141312;
    background-color: rgba(20, 19, 18, 1);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    width: 30vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-menu {
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 14px; /* 12px at 360, 16px at 1920 */   
}

#header-lang {
    font-size: 14px;
    display: flex;
    align-items:center;
    justify-content:center;
}

#header-menu-mobile {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    z-index: 100;
}

#header-logo-mobile {
    margin-left: 2rem;
}

.header-menu-mobile-bar {
    width: 30px; 
    height:2px; 
    background-color: white; 
    margin-bottom: 6px; 
    margin-right: 2rem;
    border-radius: 2px;
}

#menu-mobile {
    position: fixed;
    top: 80px;
    width: 100%;
    background-color: #141312;
    background-color: rgba(20, 19, 18, 1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

@media only screen and (max-width: 768px) {
    #header {
        display: none;
    }
    #header-mobile {
        display: flex;
    }
}

/* PAGES */
.page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.page-long {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}


#About01 {
    background-image:url("./img/Page2BG.png");
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
}

#About02 {
    background-image:url("./img/Page3BG.png");
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
}

#About03 {
    background-image:url("./img/Page4BG.png");
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
}

#Klaytn {
    background-image:url("./img/klaytn-logo-white.png");
    background-position-x: -111px;
    background-position-y: 162px;
    background-repeat: no-repeat;
}

#Careers {
    background-image:url("./img/PageCareersBG.png");
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
}

/* PAGE CONTENT */

.content-desc {
    width: 45%;
    font-family:"Kakaosmalllight";
}

.klaytn-desc {
    width: 35%;
    color: #969696;
    font-family:"Kakaosmalllight";
}

.klaytn-learnmore {
    color: #4D69E4;
}

.locations {
    height: 40%;
    margin: 5%;
}

.location-descriptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.location-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vid-pc {
    display: block;

}

.vid-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .page-long {
        height: auto;
    }
    .content-desc {
        width: 80%;
    }
    .klaytn-desc {
        width: 80%;
    }
    .locations {
        height: auto;
        width: 80%;
    }
    .location-descriptions {
        flex-direction: column;
    }
    .location-desc {
        margin:2rem;
    }
    .vid-pc {
        display: none;
    
    }
    .vid-mobile {
        display: block;
    }
}

/* FONT SIZES */
.mini-heading {
    font-size: 18px;
    margin: 2rem;
    font-family: "Kakaosmallbold";
    color: #969696;
}

.heading-med {
    margin: 0.2rem;
    font-size: 52px;
}

.heading-big {
    font-size: 60px;
}

.plain-text {
    font-size: 14px;
}

.bold {
    font-family: "Kakaosmallbold";
}

h2, h4, p, li{
    margin: 1rem;
}


h2 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
    margin:0.1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.lang-button {
    font-size: 14px;
    margin:0.1rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .plain-text {
        font-size: 12px;
    }
    .heading-med {
        font-size: 30px;
    }
    .heading-big {
        font-size: 36px;
    }
}



.button-main {
    background-color:white;
    color: #4D69E4;
    width: 150px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 10px;
    font-size: 12px;
    margin: 1rem;
}

.kr {
    display: none;
}

.en {
    display: block;
}

/*
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
*/

